{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <h3>{% trans "Password reset" %}</h3>
        {% if form.non_field_errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">&times;</a>
                {% for non_field_error in form.non_field_errors %}
                     {{ non_field_error }}
                {% endfor %}
            </div>
        {% endif %}
    
        {{ form.email|bootstrap}}
        
        <input type="submit" value="{% trans 'Reset my password' %}" />
    </form>
{% endblock content %}
