{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block topnav %}
    {{ block.super }}
    <script type="text/javascript">
    document.getElementById('signup').className = 'active';
    </script>
{% endblock topnav %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <h3>{% trans 'Sign up' %}</h3>
        {{ form|bootstrap}}
        <input type="submit" value="{% trans 'Sign up' %}" class="btn" />
    </form>
{% endblock content %}
