{% extends 'base.html' %}
{% load i18n %}

{% block navbar %}
    {{ block.super }}
    <script type="text/javascript">
    document.getElementById('archived_topics').className = 'active';
    </script>
{% endblock navbar %}

{% block content %}

<div>
<table class="table">
<tr>
    <th>{% trans 'Subject' %}</th>
    <th><a href="?c=cd&o={{ o}}">{% trans 'Created date' %}</a> {% if c == 'cd' %}{{ arrow|safe }}{% endif %}</th>
    <th><a href="?c=dd&o={{ o}}">{% trans 'Deadline' %}</a> {% if c == 'dd' %}{{ arrow|safe }}{% endif %}</th>
    <th><a href="?c=ed&o={{ o}}">{% trans 'Event close date' %}</a> {% if c == 'ed' %}{{ arrow|safe }}{% endif %}</th>
    <th><a href="?c=bt&o={{ o}}">{% trans 'Bet' %}</a> {% if c == 'bt' %}{{ arrow|safe }}{% endif %}</th>
</tr>
{% for topic in topics %}
    <tr>
    <td>{{ topic.subject }}</td>
    <td>{{ topic.created_date }}</td>
    <td>{{ topic.deadline }}</td>
    <td>{{ topic.event_close_date }}</td>
    <td>{{ topic.bet_score }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock content %}
