{% extends 'base.html' %}
{% load i18n bootstrap %}

{% block navbar %}
    {{ block.super }}
    <script type="text/javascript">
    document.getElementById('new_topic').className = 'active';
    </script>
{% endblock navbar %}

{% block content %}
<h3>{% trans 'Create a new topic' %}</h3>
<form method="post" action="">{% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">&times;</a>
            {% for non_field_error in form.non_field_errors %}
                 {{ non_field_error }}
            {% endfor %}
        </div>
    {% endif %}

    <div id="subjects">
        <ul>
            <li><a href="#subject">{% trans 'Subject' %}</a></li>
            <li><a href="#subject_english">{% trans 'Subject in English' %}</a></li>
        </ul>
        <div id="subject">{{ form.subject|bootstrap }}</div>
        <div id="subject_english">{{ form.subject_english|bootstrap }}</div>
    </div>
    
    <div id="contents">
        <ul>
            <li><a href="#content">{% trans 'Content' %}</a></li>
            <li><a href="#content_english">{% trans 'Content in English' %}</a></li>
        </ul>
        <div id="content">{{ form.content|bootstrap }}</div>
        <div id="content_english">{{ form.content_english|bootstrap }}</div>
    </div>
    {{ form.tags|bootstrap }}
    {{ form.event_close_date|bootstrap }}
    {{ form.deadline|bootstrap }}
    {{ form.end_weight|bootstrap }}
    {{ form.yesno|bootstrap }}
    {{ form.score|bootstrap }}
    <input type="submit" value="{% trans 'Submit' %}" class="btn" />
</form>
{% endblock content %}

{% block extra_js %}
<link href="{{ STATIC_URL }}jquery-ui/jquery-ui-timepicker-addon.css" rel="stylesheet">
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
    $('#id_event_close_date').datetimepicker({
        minDate: 1,
        //~ changeYear: true,
        //~ changeMonth: true,
        //~ showOn: "button",
        monthNames: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
        showMonthAfterYear: true,

        onSelect: function(){
            var d = $(this).datetimepicker('getDate');
            var now = new Date();
            if(d.getDate() - now.getDate() < 3)
                var deadline = new Date(d.getFullYear(),d.getMonth(),d.getDate(),d.getHours()-12,d.getMinutes());
            else
                var deadline = new Date(d.getFullYear(),d.getMonth(),d.getDate()-3);
            $('#id_deadline').datetimepicker('setDate', deadline);
        }
    });
    
    $('#id_deadline').datetimepicker({
        minDate:0,
        monthNames: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
        showMonthAfterYear: true
    });
    
    $('#subjects').tabs();
    $('#contents').tabs();
});
</script>
{% endblock %}
