{% extends 'base.html' %}
{% load i18n bootstrap %}

{% block topnav %}
    {{ block.super }}
    <script type="text/javascript">
    document.getElementById('new_topic').className = 'active';
    </script>
{% endblock topnav %}

{% block content %}
<h3>Create a new topic</h3>
<form method="post" action="">{% csrf_token %}
    <div id="subjects">
        <ul>
            <li><a href="#subject">{% trans 'Subject' %}</a></li>
            <li><a href="#subject_english">{% trans 'Subject in English' %}</a></li>
        </ul>
        <div id="subject">{{ form.subject|bootstrap }}</div>
        <div id="subject_english">{{ form.subject_english|bootstrap }}</div>
    </div>
    
    <div id="contents">
        <ul>
            <li><a href="#content">{% trans 'Content' %}</a></li>
            <li><a href="#content_english">{% trans 'Content in English' %}</a></li>
        </ul>
        <div id="content">{{ form.content|bootstrap }}</div>
        <div id="content_english">{{ form.content_english|bootstrap }}</div>
    </div>
    
    {{ form.deadline|bootstrap }}
    {{ form.end_date|bootstrap }}
    {{ form.yes|bootstrap }}
    {{ form.coins|bootstrap }}
    <input type="submit" value="{% trans 'Submit' %}" class="btn" />
</form>
{% endblock content %}

{% block extra_js %}
<link href="{{ STATIC_URL }}jquery-ui/jquery-ui-timepicker-addon.css" rel="stylesheet">
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
    $('.datetime').datetimepicker();
    $('#subjects').tabs();
    $('#contents').tabs();
});
</script>
{% endblock %}
