{% extends 'base.html' %}
{% load i18n bootstrap %}

{% block navbar %}
    {{ block.super }}
    <script type="text/javascript">
    document.getElementById('topics').className = 'active';
    </script>
{% endblock navbar %}

{% block extra_head %}
<style type="text/css">
.search-topics select {width: 100%}
</style>
{% endblock %}

{% block content %}
<h3>{% trans 'Search topics' %}</h3>
<form method="get" action="">
    {% if form.non_field_errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">&times;</a>
            {% for non_field_error in form.non_field_errors %}
                 {{ non_field_error }}
            {% endfor %}
        </div>
    {% endif %}

  <div class="row-fluid search-topics">
    <div class="span4">{{ form.keywords|bootstrap }}</div>
    <div class="span3">{{ form.category|bootstrap }}</div>
    <div class="span3">{{ form.status|bootstrap }}</div>
    <div class="span2"><label>&nbsp;</label><input type="submit" value="{% trans 'Search' %}" class="btn btn-primary" /></div>
  </div>
</form>

<div>
<table class="table">
{% if form.search_results %}
    <tr>
        <th>{% trans 'Subject' %}</th>
        <th><a href="?c=cd&o={{ form.next_order }}&status={{ form.data.status }}&category={{ form.data.category }}&keywords={{ form.data.keywords }}">{% trans 'Created date' %}</a> {% if form.column == 'cd' %}{{ form.arrow|safe }}{% endif %}</th>
        <th><a href="?c=dd&o={{ form.next_order }}&status={{ form.data.status }}&category={{ form.data.category }}&keywords={{ form.data.keywords }}">{% trans 'Deadline' %}</a> {% if form.column == 'dd' %}{{ form.arrow|safe }}{% endif %}</th>
        <th><a href="?c=ed&o={{ form.next_order }}&status={{ form.data.status }}&category={{ form.data.category }}&keywords={{ form.data.keywords }}">{% trans 'Event close date' %}</a> {% if form.column == 'ed' %}{{ form.arrow|safe }}{% endif %}</th>
        <th><a href="?c=bt&o={{ form.next_order }}&status={{ form.data.status }}&category={{ form.data.category }}&keywords={{ form.data.keywords }}">{% trans 'Bet' %}</a> {% if form.column == 'bt' %}{{ form.arrow|safe }}{% endif %}</th>
    </tr>
{% else %}
    {% trans 'No results' %}
{% endif %}
{% for topic in form.search_results %}
    <tr>
        <td><a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a></td>
        <td>{{ topic.created_date }}</td>
        <td>{{ topic.deadline }}</td>
        <td>{{ topic.event_close_date }}</td>
        <td>{{ topic.bet_score }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock content %}

