{% extends 'base.html' %}
{% load i18n humanize  bootstrap %}

{% block content %}
    <h3>{{ topic.subject }}</h3>
    <div>
        {{ topic.content|linebreaks|safe }}
    </div>
    
    <strong>{% trans 'Score' %}</strong>:
    <ul>
        <li>{% trans 'Yes' %}: {{ topic.yes_score }}</li>
        <li>{% trans 'No' %}: {{ topic.no_score }}</li>
    </ul>
    
    <strong>{% trans 'Tags' %}</strong>:
    <ul>
        {% for tag in topic.tags.all %}
            <li>{{ tag.tag }}</li>
        {% endfor %}
    </ul>
    
    <div>
        <strong>{% trans 'Start Date' %}</strong>: {{ topic.created_date }} ( {{ topic.created_date|naturalday }}  {{ topic.created_date|naturaltime }} )<br>
<br>
        <strong>{% trans 'Deadline' %}</strong>: {{ topic.deadline }} ( {{ topic.deadline|naturalday }}  {{ topic.deadline|naturaltime }} )<br>
        <strong>{% trans 'Event Close Date' %}</strong>: {{ topic.event_close_date }} ( {{ topic.event_close_date|naturalday }}  {{ topic.event_close_date|naturaltime }} )<br>
        {% if topic.current_weight %}
        <strong>{% trans 'Current Weight' %}</strong>: {{ topic.current_weight }}
        {% endif %}
    </div>
    
    <br>
    {% if topic.can_bet_without_reason %}
    {% if user.is_authenticated %}
        {% if not user.is_staff %}
        <div>
            <form method="post" action="">{% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" value="{% trans 'Submit' %}" class="btn" />
            </form>
        </div>
        {% endif %}
    {% else %}
        <a href="{% url 'auth_login' %}?next={{ request.get_full_path }}" class="btn">{% trans 'Login to bet' %}</a>
    {% endif %}
    {% endif %}
{% endblock content %}
